.login h3 {
  font-size: 2rem;
  line-height: 1.7;
  color: var(--text-color);
}

.buttonWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
