.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  background: var(--red);
  color: var(--white);
  font-size: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn:hover {
  background: var(--title-color);
}
