.upAndDown::before,
.upAndDown::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
  width: 100%;
  background-size: cover;
}

.upAndDown::before {
  background: url(../../images/img-top.png) no-repeat;
  top: -6rem;
}

.upAndDown::after {
  background: url(../../images/img-down.png) no-repeat;
  bottom: -6rem;
}
.pricing {
  position: relative;
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.weekly {
  background: url(../../images/card-bg1.png) no-repeat;
  background-size: cover;
  background-position: center;
}
.monthly {
  background: url(../../images/card-bg2.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.yearly {
  background: url(../../images/card-bg3.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 4rem;
  color: var(--title-color);
}

.priceWrapper {
  font-size: 5.5rem;
  color: var(--red);
}

.price {
  font-size: inherit;
}

.list {
  font-size: 1.7rem;
  padding: 1rem;
  color: var(--text-color);
}

.choise {
  position: absolute;
  top: 0;
  right: -5rem;
  background: var(--red);
  color: var(--white);
  font-size: 2rem;
  padding: 0.6rem 5.5rem;
  transform: rotate(45deg);
}
