.home {
  display: flex;
  align-items: center;
}

.content h1 {
  font-size: 5rem;
  color: var(--red);
}

.content h3 {
  font-size: 3rem;
  color: var(--title-color);
}

.content p {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 1rem 0;
  text-transform: initial;
}

.image img {
  width: 36vw;
  position: relative;
  top: -9rem;
}

@media (max-width: 768px) {
  .image img {
    display: none !important;
  }
  .content {
    text-align: center;
  }

  .content h1 {
    font-size: 3.5rem;
  }

  .content h3 {
    font-size: 2.5rem;
  }

  .content p {
    font-size: 1.5rem;
  }
}
