.wrapper {
  display: block;
  text-align: center;
}

.title {
  font-size: 5rem;
  color: var(--red);
  text-align: center;
}

.subtitle {
  font-size: 2.5rem;
  color: var(--title-color);
}

.container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}

.image {
  margin: 1rem 0;
}

.paragraph {
  color: var(--text-color);
  font-size: 2rem;
  padding: 0.5rem 0;
}
