.upAndDown::before,
.upAndDown::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 10rem;
  width: 100%;
  background-size: cover;
}

.upAndDown::before {
  background: url(../../images/img-top.png) no-repeat;
  top: -6rem;
}

.upAndDown::after {
  background: url(../../images/img-down.png) no-repeat;
  bottom: -6rem;
}
.features {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4rem;
  position: relative;
}

.title {
  font-size: 3rem;
  color: var(--red);
  padding: 2rem 0;
}

.box {
  gap: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.box div:first-child {
  min-width: 5rem;
}
.info h3 {
  font-size: 2.5rem;
  color: var(--title-color);
}

.info p {
  font-size: 1.7rem;
  color: var(--text-color);
  text-transform: initial;
}

.boxContainer:first-child .box {
  flex-flow: row-reverse;
}

.boxContainer:first-child {
  text-align: right;
  max-width: 50%;
}

@media (max-width: 768px) {
  .features {
    flex-flow: column;
  }
  .title {
    text-align: center;
  }
  .boxContainer:first-child .box {
    flex-flow: column;
  }
  .boxContainer + div {
    display: none !important;
  }
  .boxContainer .box {
    flex-flow: column;
    text-align: center;
  }

  .boxContainer:first-child {
    max-width: 100%;
  }

  .stick {
    display: none;
  }
}
