.couplet {
  min-width: 450px;
  min-height: 450px;
  flex: 1 1 27rem;
  padding: 2rem 3rem;
  margin: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.couplet:before {
  counter-increment: cardCounter;
  content: counter(cardCounter);
  color: white;
  background: var(--input-text-color);
  display: inline-block;
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 2;
  width: 40px;
  height: 40px;
}

@media (max-width: 450px) {
  .couplet {
    min-width: auto;
  }
}
