.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex: 2 1 100%;
  margin-right: 2rem;
}

.contactInfo {
  width: 30%;
}

.contactForm {
  width: 50%;
  margin-right: 4rem;
}

.title {
  padding: 1rem 0;
  font-size: 3rem;
  color: var(--title-color);
}

.box p {
  font-size: 1.7rem;
  padding: 0.5rem 0;
  color: var(--text-color);
  text-transform: lowercase;
}

.box p i {
  padding-right: 0.5rem;
  color: var(--red);
}

.box a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--title-color);
  color: var(--title-color);
  font-size: 1.7rem;
  margin: 0.2rem;
  text-align: center;
}

.box a:hover {
  background: var(--red);
  border-color: var(--red);
  color: var(--white);
}

.contactForm h3 {
  font-size: 3rem;
  color: var(--title-color);
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .image img {
    display: none !important;
  }

  .row {
    flex-flow: column;
    align-items: flex-start;
  }

  .contactInfo,
  .contactForm {
    text-align: center;
    width: 100%;
  }
  .contactInfo {
    margin-bottom: 5rem;
  }
}
