.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  background-color: var(--modal-wrap);
  z-index: 1000;
}

.modalBox {
  position: relative;
  background: url(../../../images/header-bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 1001;

  max-width: 40rem;
  padding: 4rem 4rem 7rem 4rem;

  position: fixed;
  top: 10rem;
  right: 1rem;

  animation: var(--slideInRight);
}

.close {
  font-size: 2.5rem;
  color: var(--text-color);
  position: absolute;
  top: 2rem;
  right: 5rem;
  cursor: pointer;
  animation: var(--rotateIn);
}
.content {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-bottom: 10px;
}

.content p {
  font-size: 2rem;
  line-height: 1.7;
  color: var(--text-color);
  text-transform: initial;
  margin-bottom: 2rem;
}

.content p span {
  color: var(--red);
  text-transform: inherit;
  cursor: pointer;
}
