.footer {
  position: relative;
  text-align: center;
  padding: 2.5rem 1.5rem;
  font-size: 2rem;
  color: var(--text-color);
}

.footer span {
  color: var(--red);
}

.footer::before {
  content: '';
  position: absolute;
  top: -8rem;
  left: 50%;
  transform: translateX(-50%);
  background: url(../../images/img-top.png) no-repeat;
  background-size: cover;
  height: 8rem;
  width: 100%;
}
