:root {
  --red: #f53b57;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 11rem;
  padding-bottom: 9rem;
}

.heading {
  text-align: center;
  color: var(--red);
  padding: 1rem;
  font-size: 3.5rem;
}

input,
textarea {
  width: 100%;
  border-radius: 5rem;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  color: #666;
  margin: 1rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-transform: none;
}
textarea {
  border-radius: 2rem;
  height: 15rem;
  resize: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 0 3%;
    padding-top: 11rem;
    padding-bottom: 9rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
