.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100vw !important;
}

.content h3 {
  font-size: 4rem;
  color: var(--red);
}

.content p {
  font-size: 1.7rem;
  color: var(--text-color);
  padding: 1rem 0;
  text-transform: initial;
}
@media (max-width: 768px) {
  .image img {
    display: none !important;
  }

  .content {
    text-align: center;
  }
}
